<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Items </ion-title>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="vm$ | async as vm; else loading;">
  <ion-content [fullscreen]="true">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add" aria-label="Create an item"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-list>
      <!-- Sliding item with text options on both sides -->
      <ion-item-sliding #item *ngFor="let item of vm.items; let i = index">
        <ion-item-options side="start">
          <ion-item-option
            color="danger"
            (click)="delete(item.itemId)"
            expandable
            >Delete Item</ion-item-option
          >
        </ion-item-options>

        <ion-item
          [detail]="false"
          [routerLink]="['/item-detail',item.itemId,'summary']"
        >
          <ion-label>{{item.name}}</ion-label>
          <ion-icon
            name="checkmark-circle-outline"
            *ngIf="item.isInList"
            role="img"
            slot="end"
          ></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="addToShoppingList(item.itemId)" expandable
            >Add to List</ion-item-option
          >
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
</ng-container>

<ng-template #loading>
  <ion-spinner name="dots"></ion-spinner>
</ng-template>
