<ng-container *ngIf="vm$ | async as vm">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Item Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-segment
      (ionChange)="segmentChanged($event)"
      [value]="vm.selectedSegment"
    >
      <ion-segment-button value="summary">
        <ion-label>Summary</ion-label>
      </ion-segment-button>
      <ion-segment-button value="price-history">
        <ion-label>Price History</ion-label>
      </ion-segment-button>
    </ion-segment>

    <section *ngIf="vm.selectedSegment === 'summary'">
      <app-summary>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-label>{{vm.itemData.name}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Brand</ion-label>
            <ion-label>{{vm.itemData.brand}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Price</ion-label>
            <ion-label>{{vm.itemData.price}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Store</ion-label>
            <ion-label>{{vm.itemData.store}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Favourited</ion-label>
            <ion-label>{{vm.isFavourited}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Notes</ion-label>
            <ion-label>{{vm.itemData.notes}}</ion-label>
          </ion-item>
        </ion-list>
      </app-summary>
    </section>
    <section *ngIf="vm.selectedSegment === 'price-history'">
      <app-price-history></app-price-history>
    </section>
  </ion-content>
</ng-container>
