<ng-container *ngIf="vm$ | async as vm">
  <ion-header translucent="true">
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button
          aria-label="Clear the shopping list"
          (click)="clearShoppingList()"
        >
          Clear
        </ion-button>
      </ion-buttons>
      <ion-title> Shopping List </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-list>
      <!-- Sliding item with text options on both sides -->
      <ion-item-sliding #listItem *ngFor="let item of vm.items;">
        <ion-item-options side="start">
          <ion-item-option
            color="danger"
            (click)="remove(item.itemId)"
            expandable
            >Remove</ion-item-option
          >
        </ion-item-options>

        <ion-item>
          <ion-label>{{item.name}}</ion-label>
          <ion-checkbox
            slot="end"
            #checkbox
            [attr.aria-label]="checkbox.checked ? 'Set item to not purchased' : 'Set item to purchased'"
            (ionChange)="purchased(item.itemId)"
          ></ion-checkbox>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option
            (click)="viewDetails(item.itemId); listItem.close()"
            expandable
            >Item Details</ion-item-option
          >
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
</ng-container>

<ng-template #loading>
  <ion-progress-bar
    color="primary"
    value="0.5"
    type="indeterminate"
  ></ion-progress-bar>
</ng-template>

<ng-template #emptyList>
  <p class="ion-padding-start">You have no items in your shopping list.</p>
</ng-template>
